.vscode
**/buggy/
**/d4j/
**/result
**/__pycache__
**/out

**/*.json
!pyrightconfig.json
**/*.txt
!**/Ochiai.txt
**/*.pdf
**/*.log
**/*.jpg
experiments/scripts/correct-*
experiments/**/difftgen.csv
experiments/ods*.csv

rq1.py
experiments/yechan/

!SRepair/SRepair/**/*.json
!experiments/scripts/test-time.json
!experiments/scripts/**/*.txt
!SRepair/d4j/**/*.json  # Keep SRepair results, it takes too long time and cost to generate them
!DiffTGen/groundtruth.txt

!TBar/SuspiciousCodePositions_updated/**/*.txt
!Avatar/SuspiciousCodePositions/**/*.txt
!kPar/SuspiciousCodePositions/**/*.txt
!Fixminer/BugPositions/**/*.txt
!SRepair/SuspiciousCodePositions/**/*.txt