.vscode
**/buggy/
**/d4j/
**/result
**/__pycache__
**/out

**/*.json
!pyrightconfig.json
**/*.txt
!**/Ochiai.txt
**/*.pdf
**/*.log

rq1.py
experiments/yechan/

!SRepair/SRepair/**/*.json
!experiments/scripts/test-time.json
!experiments/scripts/**/*.txt
!SRepair/d4j/**/*.json  # Keep SRepair results, it takes too long time and cost to generate them